<!--Footer Section-->

<footer class="footer text-muted bg-light" id="footer">
    <div class="gutter"></div>
    <div class="container overflow-hidden text-black">
        <div class="row align-items-center">
            <div class="border-bottom border-primary">
            </div>
            <div id="Follow" class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-start text-sm-start text-s-center">
                <p class="mb-0 social-title">
                    Follow us on social media:
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-end text-sm-end text-s-center">
                <ul class="social-list">
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="social-list-facebook"
                           href="#" aria-label="facebook follow button">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="social-list-twitter"
                           href="#" aria-label="twitter follow button">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="social-list-instagram"
                           href="#" aria-label="instagram follow button">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="social-list-telegram"
                           href="#" aria-label="telegram follow button">
                            <i class="fa fa-telegram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mb-4 border-bottom border-primary">
            </div>
        </div>
        <div class="row gy-3">
            <!-- footer about start -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="text-uppercase list-title">About Us</div>
                <p>
                   We provide the latest and other cutting-edge technology implementation with a team of the best engineers and installers. Our workmanship and materials supplies match the best and are the most affordable.
                    Our clients clients attest to the quality of our works and services.
                </p>
            </div><!-- footer menu one start -->
            <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
                <div class="text-uppercase list-title col-footer">
                    Main
                    <button type="button" id="btn-close-1" class="btn-close btn-close-dark" aria-label="Collapse1"
                            data-bs-toggle="collapse" data-bs-target="#footer-menu" aria-expanded="false" aria-controls="collapseExample1" data-click-count></button>

                </div>
                <div class="collapse d-md-block" id="footer-menu">
                    <ul class="no-icon-list text-black">
                        <li>
                            <a asp-area="" asp-page="/Home">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/About">About Us</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Knowledge">Our Services</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Analysis">Our Projects</a>
                        </li>
                    </ul>
                </div>
            </div><!-- footer menu two start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="text-uppercase list-title col-footer">
                    Learn more
                    <button type="button" id="btn-close-2" class="btn-close btn-close-dark" aria-label="Collapse2"
                            data-bs-toggle="collapse" data-bs-target="#footer-learn" aria-expanded="false" aria-controls="collapseExample2" data-click-count></button>
                </div>
                <div class="collapse d-md-block " id="footer-learn">
                    <ul class="no-icon-list ">
                        <li>
                            <a asp-area="" asp-page="/Pool">Swimming Pool</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Plumbing">Plumbing & Drainage</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Install">Pipe Installations</a>
                        </li>
                    </ul>
                </div>
            </div><!-- footer menu three start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="text-uppercase list-title col-footer">
                    Support
                    <button type="button" id="btn-close-3" class="btn-close btn-close-dark" aria-label="Collapse3"
                            data-bs-toggle="collapse" data-bs-target="#footer-support" aria-expanded="false" aria-controls="collapseExample3" data-click-count></button>
                </div>
                <div class="collapse d-md-block " id="footer-support">
                    <ul class="no-icon-list">
                        <li>
                            <a asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div><!-- footer social icons start -->
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="font-montserrat text-uppercase list-title col-footer">
                    Legal
                    <button type="button" id="btn-close-4" class="btn-close btn-close-dark" aria-label="Collapse4"
                            data-bs-toggle="collapse" data-bs-target="#footer-legal" aria-expanded="false" aria-controls="collapseExample4" data-click-count></button>
                </div>
                <div class="collapse d-md-block " id="footer-legal">
                    <ul class="no-icon-list">
                        <li>
                            <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/TermsofUse">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gutter">
        </div>
    </div>
    <div class="container-fluid bg-light text-black">
        <div class="row">
            <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center">
                &copy
                <span><strong>PipeBuild</strong></span>
                 2023 - All Rights Reserved.
            </div>
            <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center text-muted">
                Designed by
                <strong>Blasio</strong>
            </div>
        </div>
    </div>
</footer>