<!--Header Section-->

<div class="container navbar-container">
    <nav class="navbar navbar-custom navbar-expand-lg bg-body-tertiary" id="nav-bg">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="~/src/logos/PB-01_48.png" class="d-inline-block align-text-center mx-2 br-10 navbar-img" alt="PipeBuild Logo" /><strong class="collapse collapse-horizontal">PipeBuild</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPipebuild"
                aria-controls="offcanvasPipebuild" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active" aria-current="page" asp-area="" asp-page="/About">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active" aria-current="page" asp-area="" asp-page="/Services">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active" aria-current="page" asp-area="" asp-page="/Projects">Our Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active" aria-current="page" asp-area="" asp-page="/Contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasPipebuild"
     aria-labelledby="offcanvasPipebuildLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasPipebuildLabel">
            <a class="navbar-brand" href="index.html">
                <img src="~/src/logos/PB-01_32.png" alt="PipeBuild Logo"
                     class="d-inline-block align-text-center mx-2" /><strong>PipeBuild</strong>
            </a>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-secondary bg-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseXauman" aria-expanded="false" aria-controls="collapseXauman">
                    Share on Social Media
                </button>
                <div class="collapse bg-black" id="collapseXauman">
                    <ul class="social-list vertical">
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="social-list-facebook"
                               href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fxauman.com"
                               aria-label="facebook follow button"><i class="fa fa-facebook align-middle"></i>Facebook</a>
                        </li>
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="social-list-twitter"
                               href="https://twitter.com/intent/tweet?text=We%20are%20seasoned%20Gold%20Forex%20Traders%20helping%20individuals%20and%20institutions%20meet%20and%20surpass%20their%20financial%20goals.%20%20https://xauman.com/"
                               aria-label="twitter follow button"><i class="fa fa-twitter align-middle"></i>Twitter</a>
                        </li>
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="social-list-whatsapp"
                               href="whatsapp://send?text=We%20are%20seasoned%20Gold%20Forex%20Traders%20helping%20individuals%20and%20institutions%20meet%20and%20surpass%20their%20financial%20goals.%20https://xauman.com/"
                               aria-label="whatsapp follow button"><i class="fa fa-whatsapp align-middle"></i>Whatsapp</a>
                        </li>
                        <li class="mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="social-list-telegram"
                               href="https://t.me/share/url?url=https://xauman.com/&text=We are seasoned Gold Forex Traders helping individuals and institutions meet and surpass their financial goals."
                               aria-label="telegram follow button"><i class="fa fa-telegram align-middle"></i>Telegram</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <span class="navbar-brand"> Coming soon!! </span>
    </div>
</div>