<!--Header Section-->

<div class="container navbar-container">
    <nav class="navbar navbar-custom navbar-expand-lg bg-body-tertiary navbar-sticky" id="nav-bg">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="~/src/logos/PB-01_48.png" class="d-inline-block align-text-center mx-2 br-10 navbar-img" alt="PipeBuild Logo" /><strong class="collapse collapse-horizontal">PipeBuild</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPipebuild"
                aria-controls="offcanvasPipebuild" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link-brand position-absolute start-10" href="#">Pipe Build Ltd.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active " aria-current="page" asp-area="" asp-page="/About">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active " aria-current="page" asp-area="" asp-page="/Services">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active " aria-current="page" asp-area="" asp-page="/Projects">Our Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-active " aria-current="page" asp-area="" asp-page="/Contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasPipebuild"
     aria-labelledby="offcanvasPipebuildLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasPipebuildLabel">
            <a class="navbar-brand" href="index.html">
                <img src="~/src/logos/PB-01_32.png" alt="PipeBuild Logo"
                     class="d-inline-block align-text-center mx-2" /><strong>PipeBuild</strong>
            </a>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link-mobile" aria-current="page" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-mobile " aria-current="page" asp-area="" asp-page="/About">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-mobile " aria-current="page" asp-area="" asp-page="/Services">Our Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-mobile" data-bs-toggle="collapse"
                   data-bs-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects" href="#">
                    Our Projects
                </a>
                <div class="collapse" id="collapseProjects">
                    <ul>
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                aria-current="page" asp-area="" asp-page="/Projects">Projects-1</a>
                        </li>
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                aria-current="page" asp-area="" asp-page="/Projects">Projects-2</a>
                        </li>
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                aria-current="page" asp-area="" asp-page="/Projects">Projects-3</a>
                        </li>
                        <li class="border-bottom border-secondary mx-3 my-2">
                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                aria-current="page" asp-area="" asp-page="/Projects">Projects-4</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link-mobile " aria-current="page" asp-area="" asp-page="/Contact">Contact Us</a>
            </li>
        </ul>
    </div>
</div>