<!--Header Section-->

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PipeBuild</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Services">Our Services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" data-toggle="dropdown" asp-area="" asp-page="/Projects">Our Projects</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Website Designing</a></li>
                                <li><a href="#">Website Development</a></li>
                                <li><a href="#">Content Writing</a></li>
                                <li><a href="#">PPC Services</a></li>
                                <li><a href="#">SMO</a></li>
                                <li><a href="#">SEO</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</header>