@page
@model PipeBuild.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<section id="about_one">
    <div class="container-fluid background-bg bg-opacity-50 main-contacts">
        <div class="bg-greyed-out bg-fixed">
            <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
        </div>
        <div class="container"><h1 class="main-header">@ViewData["Title"]</h1></div>
    </div>
</section>

<section id="about_two">
    <div class="container-fluid section-about bg-white">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center text-center">
                <h1 class="display-4 my-4">Who we are...</h1>
                <p class="paragraph-title">We are construction professionals...</p>
            </div>
        </div>
    </div>
</section>

<section id="about_three">
    <div class="container-fluid section-about bg-blue">
        <div class="container text-white">
            <div class="row d-flex flex-wrap justify-content-center text-center">
                <h1 class="display-4 my-4">Our Values</h1>
                <p class="paragraph-title">The things we believe in and that guide us...</p>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 py-4">
                <div class="col my-md-3 d-flex justify-content-center" style="min-width:18rem; min-height:20rem;">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/src/img/slider/Plumb-02.jpg" width="640" height="360" loading="lazy" alt="">
                        </div>
                        <div class="hover">
                            <h4 class="mb-0">
                                "Great things in business are never done by one person, they are done by a team of
                                individuals."
                            </h4><span class="text-muted">Steve Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col my-md-3 d-flex justify-content-center" style="min-width:18rem; min-height:20rem;">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/src/img/slider/Plumb-02.jpg" width="640" height="360" loading="lazy" alt="">
                        </div>
                        <div class="hover">
                            <h4 class="mb-0">
                                "Great things in business are never done by one person, they are done by a team of
                                individuals."
                            </h4><span class="text-muted">Steve Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col my-md-3 d-flex justify-content-center" style="min-width:18rem; min-height:20rem;">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/src/img/slider/Plumb-02.jpg" width="640" height="360" loading="lazy" alt="">
                        </div>
                        <div class="hover">
                            <h4 class="mb-0">
                                "Great things in business are never done by one person, they are done by a team of
                                individuals."
                            </h4><span class="text-muted">Steve Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col my-md-3 d-flex justify-content-center" style="min-width:18rem; min-height:20rem;">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/src/img/slider/Plumb-02.jpg" width="640" height="360" loading="lazy" alt="">
                        </div>
                        <div class="hover">
                            <h4 class="mb-0">
                                "Great things in business are never done by one person, they are done by a team of
                                individuals."
                            </h4><span class="text-muted">Steve Jobs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about_four">
    <div class="container-fluid section-about">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center text-center">
                <h1 class="display-4 my-4">Why work with us</h1>
                <p class="paragraph-title">We are exceptional at what we do...</p>
            </div>
            <div class="row d-flex flex-wrap">
                <div class="col-md-4 col-sm-6 col-xs-12 mt-4">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-lightbulb color-main"></span>
                        <h5>Innovation</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt-4">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-focus color-main"></span>
                        <h5>Focus</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt-4">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-speedometer color-main"></span>
                        <h5>Fast Execution</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt-4">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-chat color-main"></span>
                        <h5>Reliability</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt-4">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-layers color-main"></span>
                        <h5>Consistency</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt-4">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-adjustments color-main"></span>
                        <h5>Flexible</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Fun Fact Area
        ===================================== -->
<section id="about-4" class="company-bg">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-center mb-3">
                <h4 class="text-center color-black display-6">
                    Company In Numbers
                    <small class="heading heading-solid center-block"></small>
                </h4>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
                <div class="fact">
                    <div class="fact-number timer" data-perc="850">
                        <span class="factor color-blue"></span>
                    </div>
                    <span class="fact-title color-black">Projects Completed</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact">
                    <div class="fact-number timer" data-perc="925">
                        <span class="factor color-green"></span>
                    </div>
                    <span class="fact-title color-black">Happy Clients</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact">
                    <div class="fact-number timer" data-perc="250">
                        <span class="factor color-pasific"></span>
                    </div>
                    <span class="fact-title color-black">Coffee Cups</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact">
                    <div class="fact-number timer" data-perc="520">
                        <span class="factor color-cyan"></span>
                    </div>
                    <span class="fact-title color-black">Professional Staff</span>
                </div>
            </div>
        </div>
    </div>
</section>
