@page
@model PipeBuild.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<section id="about_one">
    <div class="container-fluid background-bg bg-opacity-50 main-contacts">
        <div class="bg-greyed-out bg-fixed">
            <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
        </div>
        <div class="container"><h1 class="main-header">@ViewData["Title"]</h1></div>
    </div>
</section>

<section id="about_two">
    <div class="container-fluid bg-primary section-about">

    </div>
</section>

<section id="about_three">
    <div class="container-fluid bg-secondary section-about">

    </div>
</section>
