@page
@model PipeBuild.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container text-center" style="height: 100vh; padding-top: 15rem;">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Contact Us <a href="#">We are Pipebuild</a>.</p>
</div>
