@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Email"] = "info@pipebuild.co.ke";
}
<div>
    <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <ul>
            <li data-index='rs-382' data-transition='cube' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-01.jpg' data-rotate='0' data-saveperformance='off' data-title='Cube Vertical' data-description=''>
                <img src="~/src/img/slider/Plumb-01.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-384' data-transition='incube' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-02.jpg' data-rotate='0' data-saveperformance='off' data-title='In Cube Vertical' data-description=''>
                <img src="~/src/img/slider/Plumb-02.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-371' data-transition='parallaxtoleft' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/src/img/slider/Plumb-03.jpg'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-03.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-371' data-transition='parallaxtoright' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-04.jpg' data-rotate='0' data-saveperformance='off'
                data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-04.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-381' data-transition='3dcurtain-vertical' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-05.jpg' data-rotate='0' data-saveperformance='off'
                data-title='3D Curtain Vertical' data-description=''>
                <img src="~/src/img/slider/Plumb-05.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
        </ul>
    </div>
</div>
<section id="About">
    <div class="section bg-light">
        <div class="container">
            <div class="mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row d-flex flex-wrap justify-content-center">
                            <h1 class="display-4 text-center my-4"> About Us</h1>
                            <div class="col-lg-5 col-md-12">
                                <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="card-group justify-content-center my-md-4 my-sm-4">
                                    <div class="card br-10 card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk of
                                                the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row d-flex flex-wrap justify-content-center">
                            <h1 class="display-4 text-center my-4"> Who we are</h1>
                            <div class="col-lg-5 col-md-12">
                                <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="card-group justify-content-center my-md-4 my-sm-4">
                                    <div class="card br-10 card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk of
                                                the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row d-flex flex-wrap justify-content-center">
                            <h1 class="display-4 text-center my-4">Our Vision</h1>
                            <div class="col-lg-5 col-md-12">
                                <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="card-group justify-content-center my-md-4 my-sm-4">
                                    <div class="card br-10 card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk of
                                                the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row d-flex flex-wrap justify-content-center">
                            <h1 class="display-4 text-center my-4">Our Mission</h1>
                            <div class="col-lg-5 col-md-12">
                                <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="card-group justify-content-center my-md-4 my-sm-4">
                                    <div class="card br-10 card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk of
                                                the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>


        </div>
    </div>
</section>
<section id="Services" class="section">
    <div class="bg-image bg-fixed">
        <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
    </div>
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">
            <h1 class="display-4 text-center my-4 text-white">Our Services</h1>
            <div class="col-lg-12">
                <h2 class="display-6 text-center my-2 text-white">We deliver innovative plumbing and drainage solutions</h2>
            </div>
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-4 w-100">
                    <div class="col d-flex justify-content-center">
                        <a aria-current="page" asp-area="" asp-page="/About">
                            <div class="card card-shadow br-10 mx-2 my-2" style="min-width: 18rem;">
                                <img src="~/src/img/slider/Plumb-01.jpg" class="card-img-top br-10" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title text-center">Service Name</h5>
                                    <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card card-shadow br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/img/slider/Plumb-02.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Service Name</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card card-shadow br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/img/slider/Plumb-03.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Service Name</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card card-shadow br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/img/slider/Plumb-04.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Service Name</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card card-shadow br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/img/slider/Plumb-05.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Service Name</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card card-shadow br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/img/slider/Plumb-06.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Service Name</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Projects">
    <div class="section bg-light">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">Our Projects</h1>
                <h2 class="display-6 text-center my-2">We have completed several projects over the years...</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                <div class="col slider">
                    <div class="owl-carousel">
                        <div class="slider-card">
                            <div class="d-flex justify-content-center align-items-center mb-4"><img src="~/src/img/slider/Plumb-01.jpg" alt="..." /></div>
                            <h3 class="text-center">Projects Title</h3>
                            <p class="text-center pb-3 pe-3 ps-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                        </div>
                        <div class="slider-card">
                            <div class="d-flex justify-content-center align-items-center mb-4"><img src="~/src/img/slider/Plumb-02.jpg" alt="..." /></div>
                            <h3 class="text-center">Projects Title</h3>
                            <p class="text-center pb-3 pe-3 ps-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                        </div>
                        <div class="slider-card">
                            <div class="d-flex justify-content-center align-items-center mb-4"><img src="~/src/img/slider/Plumb-03.jpg" alt="..." /></div>
                            <h3 class="text-center">Projects Titles</h3>
                            <p class="text-center pb-3 pe-3 ps-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                        </div>
                        <div class="slider-card">
                            <div class="d-flex justify-content-center align-items-center mb-4"><img src="~/src/img/slider/Plumb-04.jpg" alt="..." /></div>
                            <h3 class="text-center">Projects Title</h3>
                            <p class="text-center pb-3 pe-3 ps-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                        </div>
                        <div class="slider-card">
                            <div class="d-flex justify-content-center align-items-center mb-4"><img src="~/src/img/slider/Plumb-05.jpg" alt="..." /></div>
                            <h3 class="text-center">Projects Title</h3>
                            <p class="text-center pb-3 pe-3 ps-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                        </div>
                        <div class="slider-card">
                            <div class="d-flex justify-content-center align-items-center mb-4"><img src="~/src/img/slider/Plumb-06.jpg" alt="..." /></div>
                            <h3 class="text-center">Projects Title</h3>
                            <p class="text-center pb-3 pe-3 ps-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Team">
    <div class="section bg-blue">
        <div class="container-fluid">
            <div class="row d-flex flex-wrap justify-content-center mx-4">
                <h1 class="display-4 text-center my-lg-4 my-md-2 my-sm-2">The Team</h1>
                <h2 class="display-6 text-center my-2">A team of Experienced Engineers</h2>
                <div class="block no-padding pd-rs">
                    <div class="teams-sec st3 bd-df">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="team">
                                    <div class="team-img">
                                        <img src="http://via.placeholder.com/480x432" alt="">
                                    </div>
                                    <div class="team-details">
                                        <h3><a href="#" title="">Team Member Name</a></h3>
                                        <ul class="team-info">
                                            <li><span>Team Member Title</span></li>
                                            <li>Team Member Description</li>
                                        </ul>
                                    </div>
                                </div><!--team end-->
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="team">
                                    <div class="team-img">
                                        <img src="http://via.placeholder.com/480x432" alt="">
                                    </div>
                                    <div class="team-details">
                                        <h3><a href="#" title="">Team Member Name</a></h3>
                                        <ul class="team-info">
                                            <li><span>Team Member Title</span></li>
                                            <li>Team Member Description</li>
                                        </ul>
                                    </div>
                                </div><!--team end-->
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="team">
                                    <div class="team-img">
                                        <img src="http://via.placeholder.com/480x432" alt="">
                                    </div>
                                    <div class="team-details">
                                        <h3><a href="#" title="">Team Member Name</a></h3>
                                        <ul class="team-info">
                                            <li><span>Team Member Title</span></li>
                                            <li>Team Member Description</li>
                                        </ul>
                                    </div>
                                </div><!--team end-->
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="team">
                                    <div class="team-img">
                                        <img src="http://via.placeholder.com/480x432" alt="">
                                    </div>
                                    <div class="team-details">
                                        <h3><a href="#" title="">Team Member Name</a></h3>
                                        <ul class="team-info">
                                            <li><span>Team Member Title</span></li>
                                            <li>Team Member Description</li>
                                        </ul>
                                    </div>
                                </div><!--team end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Clients">
    <div class="section bg-light">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">Our Clients</h1>
                <div class="col">


                </div>
            </div>
        </div>
    </div>
</section>
<section id="Contact" class="bg-red-custom">
    <div class="container contacts-container pb-5">
        <h1 class="display-4 text-center my-4">Contact Us</h1>
        <div class="row d-flex flex-wrap justify-content-center bg-blue br-20 shadow-lg p-3 mb-5 bg-body-tertiary">
            <div class="col-md-6" style="min-width: 18rem;">
                <form action="" method="post" class="js-ajax-form mt-4">
                    <div class="row g-3">
                        <div class="col-md-12 mt-4 mx-2">
                            <h2>Just Say hello...</h2>
                            <p>Let us connect...</p>
                        </div>
                        <div class="col-field col-md-6">
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="firstname" id="firstname">
                        </div>
                        <div class="col-field col-md-6">
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lastname" id="lastname">
                        </div>
                        <div class="col-field col-md-6">
                            <input type="email" class="form-control" placeholder="E-mail Address" aria-describedby="emailHelp" aria-label="Email Address" name="email" id="email" required>
                        </div>
                        <div class="col-field col-md-6">
                            <input type="number" class="form-control" placeholder="Phone No." aria-label="Contact" name="contact" id="contact">
                        </div>
                        <div class="col-field col-md-12"><textarea class="form-control" placeholder="Leave your message here..." aria-label="message" name="message" id="message" value=></textarea></div>
                        <div class="col-auto my-4">
                            <button type="submit" class="btn btn-primary bg-red-custom">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6" style="min-width: 18rem;">
                <h2 class="mt-4">Contact Information</h2>
                <div class="contact-info">
                    <div class="contact-info-content">
                        <div class="phone contact-row">
                            <i class="fa fa-phone"></i>
                            <div class="contact-body">
                                <h4>Phone</h4>
                                <div class="phone-row">
                                    +254 (721) 175 862
                                </div>
                                <div class="phone-row">+254 (722) 743 529</div>
                            </div>
                        </div>
                        <div class="contact-row">
                            <i class="fa fa-envelope"></i>
                            <div class="contact-body">
                                <h4>Email</h4>
                                <div class="contact-content">@ViewData["Email"]</div>
                            </div>
                        </div>
                        <div class="contact-row">
                            <i class="fa fa-map-marker"></i>
                            <div class="contact-body">
                                <h4>Address</h4>
                                <div class="contact-content">Muthaiga Suites, Block 2</div>
                                <div class="contact-content">Muthaiga, Thika Road</div>
                                <div class="contact-content">Nairobi, Kenya</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
