@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Email"] = "info@pipebuild.co.ke";
    ViewData["Gmail"] = "pipebuildservices@gmail.com";
}
<div>
    <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <ul>
            <!--SLIDE-1 LAYER NR. 1 -->
            <li data-index='rs-382' data-transition='cube' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/project/IMG-10.jpg' data-rotate='0' data-saveperformance='off' data-title='Cube Vertical' data-description=''>
                <img src="~/src/project/IMG-10.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="tp-caption lyr3"
                     id="slide-1648-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="20"
                     data-y="center" data-voffset="-100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"x:[-50%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="200"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.04">
                    We are <br>designers, <br />innovators, <br />Installers...”
                </div>

                <div class="tp-caption lyr4 display-5 text-white"
                     id="slide-1648-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="20"
                     data-y="center" data-voffset="100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.06">
                    Let's connect
                </div>

                <a href="#" title="" class="tp-caption lyr5 btn btn-primary"
                   id="slide-1-layer-3"
                   data-x="['left','left','left','left']" data-hoffset="20"
                   data-y="center" data-voffset="180"
                   data-width="['auto','auto','auto','auto']"
                   data-height="['auto','auto','auto','auto']"
                   data-transform_idle="o:1;"
                   data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2800,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'
                   data-paddingtop="[20,20,20,20]"
                   data-paddingright="[20,20,20,20]"
                   data-paddingbottom="[20,20,20,20]"
                   data-paddingleft="[20,20,20,20]"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-elementdelay="0.05">
                    Get a Quote..
                </a>
            </li>
            <!--SLIDE 2 LAYER NR. 2 -->
            <li data-index='rs-384' data-transition='incube' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/project/IMG-16_1.jpg' data-rotate='0' data-saveperformance='off' data-title='In Cube Vertical' data-description=''>
                <img src="~/src/project/IMG-16_1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="tp-caption lyr3"
                     id="slide-1648-layer-1"
                     data-x="['right','right','right','right']" data-hoffset="20"
                     data-y="center" data-voffset="-100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"x:[50%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="200"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.04">
                    We improve <br>lives with our <br />projects...”
                </div>

                <div class="tp-caption lyr4 display-5 text-white"
                     id="slide-1648-layer-2"
                     data-x="['right','right','right','right']" data-hoffset="20"
                     data-y="center" data-voffset="100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.06">
                    Let's connect
                </div>

                <a href="#" title="" class="tp-caption lyr5  btn btn-primary"
                   id="slide-1-layer-3"
                   data-x="['right','right','right','right']" data-hoffset="20"
                   data-y="center" data-voffset="180"
                   data-width="['auto','auto','auto','auto']"
                   data-height="['auto','auto','auto','auto']"
                   data-transform_idle="o:1;"
                   data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2800,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'
                   data-paddingtop="[20,20,20,20]"
                   data-paddingright="[20,20,20,20]"
                   data-paddingbottom="[20,20,20,20]"
                   data-paddingleft="[20,20,20,20]"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-elementdelay="0.05">
                    Learn more...
                </a>
            </li>
            <!-- SLIDE 3 LAYER NR. 3 -->
            <li data-index='rs-371' data-transition='parallaxtoleft' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/src/project/IMG-17.jpg'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/project/IMG-17.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="tp-caption lyr3"
                     id="slide-1648-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="20"
                     data-y="center" data-voffset="-100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"x:[-50%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="200"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.04">
                    We find <br>purpose in your <br />fulfillment...”
                </div>

                <div class="tp-caption lyr4 display-5 text-white"
                     id="slide-1648-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="20"
                     data-y="center" data-voffset="100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.06">
                    Let's connect
                </div>

                <a href="#" title="" class="tp-caption lyr5  btn btn-primary"
                   id="slide-1-layer-3"
                   data-x="['left','left','left','left']" data-hoffset="20"
                   data-y="center" data-voffset="180"
                   data-width="['auto','auto','auto','auto']"
                   data-height="['auto','auto','auto','auto']"
                   data-transform_idle="o:1;"
                   data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2800,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'
                   data-paddingtop="[20,20,20,20]"
                   data-paddingright="[20,20,20,20]"
                   data-paddingbottom="[20,20,20,20]"
                   data-paddingleft="[20,20,20,20]"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-elementdelay="0.05">
                    Learn more...
                </a>
            </li>
            <!--SLIDE 4 LAYER NR. 4 -->
            <li data-index='rs-381' data-transition='3dcurtain-vertical' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/project/PD-01.jpg' data-rotate='0' data-saveperformance='off'
                data-title='3D Curtain Vertical' data-description=''>
                <img src="~/src/project/PD-01.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="tp-caption lyr3 text-white"
                     id="slide-1648-layer-1"
                     data-x="['right','right','right','right']" data-hoffset="20"
                     data-y="center" data-voffset="-100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"x:[50%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="200"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.04">
                    Your project <br>is safe in our <br />hands...”
                </div>

                <div class="tp-caption lyr4 display-5 text-white"
                     id="slide-1648-layer-2"
                     data-x="['right','right','right','right']" data-hoffset="20"
                     data-y="center" data-voffset="100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.06">
                    Let's work together...
                </div>
            </li>
        </ul>
    </div>
</div>
<section id="About">
    <div class="section bg-light">
        <div class="container">
            <div class="mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row d-flex flex-wrap justify-content-center">
                            <h1 class="display-4 text-center my-4"> About Us</h1>
                            <div class="col-lg-5 col-md-12">
                                <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="card-group justify-content-center my-md-4 my-sm-4">
                                    <div class="card br-10 card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk of
                                                the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row d-flex flex-wrap justify-content-center">
                            <h1 class="display-4 text-center my-4"> Who we are</h1>
                            <div class="col-lg-5 col-md-12">
                                <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="card-group justify-content-center my-md-4 my-sm-4">
                                    <div class="card br-10 card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk of
                                                the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row d-flex flex-wrap justify-content-center">
                            <h1 class="display-4 text-center my-4">Our Vision</h1>
                            <div class="col-lg-5 col-md-12">
                                <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                                <p class="paragraph-text">
                                    To be a world class supplier and preferred provider for Plumbing, Drainage, Firefighting, LP Gas and Water treatment services in the East African region.
                                </p>
                                <p class="paragraph-text">
                                    Pipe Build
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="card-group justify-content-center my-md-4 my-sm-4">
                                    <div class="card br-10 card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk of
                                                the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row d-flex flex-wrap justify-content-center">
                            <h1 class="display-4 text-center my-4">Our Mission</h1>
                            <div class="col-lg-5 col-md-12">
                                <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                                <p class="paragraph-text">
                                    To provide quality, innovative, unique, exquisite and exceptional value to our customers and suppliers while offering the highest quality service and products
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                                <p class="paragraph-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                    quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                                    fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="card-group justify-content-center my-md-4 my-sm-4">
                                    <div class="card br-10 card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk of
                                                the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section id="Services" class="section">
    <div class="bg-image bg-fixed">
        <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
    </div>
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">
            <h1 class="display-4 text-center my-4 text-white">Our Services</h1>
            <div class="col-lg-12">
                <h2 class="display-6 text-center my-2 text-white">We are experts in the Building Services field, specializing in Mechanical installations.</h2>
            </div>
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-4 w-100">
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/img/slider/Plumb-01.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Plumbing &amp; Drainage Solutions</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/project/FF-02.png" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Fire-Fighting Systems</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/project/LPG-02.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Liquefied Petroleum Gas (LPG) Systems</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/project/WT-02.png" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Waste Water Treatment Plants</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/img/slider/Plumb-05.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Service Name</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2" style="min-width: 18rem;">
                            <img src="~/src/img/slider/Plumb-06.jpg" class="card-img-top br-10" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center">Service Name</h5>
                                <p class="card-text">Brief description of the service offered, perks, benefits, promotions, etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Projects">
    <div class="section bg-light">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">Our Projects</h1>
                <h2 class="display-6 text-center my-2">We have completed several projects over the years...</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                <div class="col slider">
                    <div class="owl-carousel projects-gallery">
                        <div class="slider-card project project-light">
                            <div class="image-box">
                                <a href="~/src/project/IMG-01.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-01.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-02.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-02.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-11.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-11.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-20.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-20.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-16.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-16.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-17.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-17.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-12.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-12.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-10.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-10.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-14.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-14.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-card project">
                            <div class="image-box">
                                <a href="~/src/project/IMG-13.jpg" class="image" title="Project-1">
                                    <img src="~/src/project/IMG-13.jpg" width="640" height="360" loading="lazy" alt="">
                                </a>
                                <div class="hover project-info card bg-dark bg-opacity-50">
                                    <h3 class="text-center">
                                        Project Title
                                    </h3><p class="text-center mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae facilis ex sed perferendis fuga amet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Team">
    <div class="section bg-blue">
        <div class="container-fluid">
            <div class="row d-flex flex-wrap justify-content-center mx-4">
                <h1 class="display-4 text-center my-lg-4 my-md-2 my-sm-2">The Team</h1>
                <h2 class="display-6 text-center my-2">A team of Experienced Engineers</h2>
                <div class="block no-padding pd-rs">
                    <div class="teams-sec st3 bd-df">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="team">
                                    <div class="team-img">
                                        <img src="http://via.placeholder.com/480x432" alt="">
                                    </div>
                                    <div class="team-details">
                                        <h3><a href="#" title="">Team Member Name</a></h3>
                                        <ul class="team-info">
                                            <li><span>Team Member Title</span></li>
                                            <li>Team Member Description</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="team">
                                    <div class="team-img">
                                        <img src="http://via.placeholder.com/480x432" alt="">
                                    </div>
                                    <div class="team-details">
                                        <h3><a href="#" title="">Team Member Name</a></h3>
                                        <ul class="team-info">
                                            <li><span>Team Member Title</span></li>
                                            <li>Team Member Description</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="team">
                                    <div class="team-img">
                                        <img src="http://via.placeholder.com/480x432" alt="">
                                    </div>
                                    <div class="team-details">
                                        <h3><a href="#" title="">Team Member Name</a></h3>
                                        <ul class="team-info">
                                            <li><span>Team Member Title</span></li>
                                            <li>Team Member Description</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="team">
                                    <div class="team-img">
                                        <img src="http://via.placeholder.com/480x432" alt="">
                                    </div>
                                    <div class="team-details">
                                        <h3><a href="#" title="">Team Member Name</a></h3>
                                        <ul class="team-info">
                                            <li><span>Team Member Title</span></li>
                                            <li>Team Member Description</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Clients">
    <div id="clients" class="mb-4">
        <div class="container">
            <div class="row text-center">
                <h1 class="display-4 text-center my-lg-4 my-md-2 my-sm-2">Our Clients &amp; Partners</h1>
                <p class="paragraph-title text-center my-2">We have worked with many companies on our journey...</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div id="owlSectionThreeItem" class="owl-carousel clients">
                            <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                <div class="client-logo-size">
                                    <img src="~/src/img/partners/DandS-01.jpg" />
                                </div>
                            </div>
                            <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                <div class="client-logo-size">
                                    <img src="~/src/img/partners/SAF-01.png" />
                                </div>
                            </div>
                            <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                <div class="client-logo-size">
                                    <img src="~/src/img/partners/DandS-01.jpg" />
                                </div>
                            </div>
                            <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                <div class="client-logo-size">
                                    <img src="~/src/img/partners/SAF-01.png" />
                                </div>
                            </div>
                            <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                <div class="client-logo-size">
                                    <img src="~/src/img/partners/DandS-01.jpg" />
                                </div>
                            </div>
                            <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                <div class="client-logo-size">
                                    <img src="~/src/img/partners/SAF-01.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Contact" class="bg-red-custom">
    <div class="container contacts-container pb-5">
        <h1 class="display-4 text-center mb-4">Contact Us</h1>
        <div class="contact-info-title">Contact</div>
        <div class="row d-flex flex-wrap justify-content-center bg-blue br-20 shadow-lg p-3 mb-5 bg-body-tertiary">
            <div class="col-md-6" style="min-width: 18rem;">
                <form action="#" method="post" class="js-ajax-form mt-4">
                    <div class="row g-3">
                        <div class="col-md-12 mt-4 mx-2">
                            <h2>Just Say hello...</h2>
                            <p>Let us connect...</p>
                        </div>
                        <div class="col-field col-md-6">
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="firstname" id="firstname">
                        </div>
                        <div class="col-field col-md-6">
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lastname" id="lastname">
                        </div>
                        <div class="col-field col-md-6">
                            <input type="email" class="form-control" placeholder="E-mail Address" aria-describedby="emailHelp" aria-label="Email Address" name="email" id="email" required>
                        </div>
                        <div class="col-field col-md-6">
                            <input type="number" class="form-control" placeholder="Phone No." aria-label="Contact" name="contact" id="contact">
                        </div>
                        <div class="col-field col-md-12"><textarea class="form-control" placeholder="Leave your message here..." aria-label="message" name="message" id="message" value=></textarea></div>
                        <div class="col-auto my-4">
                            <button type="submit" class="btn btn-primary bg-red-custom">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6" style="min-width: 18rem;">
                <h2 class="mt-4">Contact Information</h2>
                <div class="contact-info">
                    <div class="contact-info-content">
                        <div class="phone contact-row">
                            <i class="fa fa-phone"></i>
                            <div class="contact-body">
                                <h4>Phone</h4>
                                <div class="phone-row">
                                    +254 (790) 491 222
                                </div>
                                <div class="phone-row">+254 (722) 743 529</div>
                            </div>
                        </div>
                        <div class="contact-row">
                            <i class="fa fa-envelope"></i>
                            <div class="contact-body">
                                <h4>Email</h4>
                                <div class="contact-content">@ViewData["Email"]</div>
                                <div class="contact-content">@ViewData["Gmail"]</div>
                            </div>
                        </div>
                        <div class="contact-row">
                            <i class="fa fa-map-marker"></i>
                            <div class="contact-body">
                                <h4>Address</h4>
                                <div class="contact-content">Muthaiga Suites, Block 2</div>
                                <div class="contact-content">Muthaiga, Thika Road</div>
                                <div class="contact-content">Nairobi, Kenya</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*
        <div class="testimonial testimonial-triangle-isosceles bottom-left"
        <div class="testimonial-body">
        <p>
            Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
        </p>
    </div>
    <div class="testimonial-footer">
        <img src="~/src/img/slider/Pic-1.jpg" alt="testimonial author" class="img-responsive img-circle ppic-img">
        <i class="fa fa-quote-left"></i>
        Gisselse <a href="#">Smashingmagazine.com   </a>
    </div>
    </div>*@