@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <ul>
            <li data-index='rs-371' data-transition='parallaxtotop' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/src/img/slider/Plumb-01.jpg'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-01.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="carousel-logo"> <img src="~/src/logos/XAU-114x114.webp" class="img-fluid"></div>
            </li>
            <li data-index='rs-371' data-transition='parallaxtobottom' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-02.jpg' data-rotate='0' data-saveperformance='off'
                data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-02.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-371' data-transition='parallaxtoleft' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/src/img/slider/Plumb-03.jpg'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-03.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-371' data-transition='parallaxtoright' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-04.jpg' data-rotate='0' data-saveperformance='off'
                data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-04.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-381' data-transition='3dcurtain-vertical' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-05.jpg' data-rotate='0' data-saveperformance='off'
                data-title='3D Curtain Vertical' data-description=''>
                <img src="~/src/img/slider/Plumb-05.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
        </ul>
    </div>
</div>
<section id="About">
    <div class="section bg-danger">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4"> About Us</h1>
                <div class="col-lg-5 col-md-12">
                    <h1 class="paragraph-title">We have helped many accomplish their dreams...</h1>
                    <p class="paragraph-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                    <p class="paragraph-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                    <p class="paragraph-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                    <p class="paragraph-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="card-group justify-content-center my-md-4 my-sm-4">
                        <div class="card card-no-bg mb-4" style="min-width: 15rem; min-height:30rem;">
                            <div class="card-body position-absolute bottom-0 bg-dark bg-opacity-50">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of
                                    the card's content.
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Services" class="section">
        <div class="bg-image bg-fixed">
            <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
        </div>
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">Our Services</h1>
                <div class="col-lg-12">
                    <h2 class="display-6 text-start my-2">We deliver innovative plumbing and drainage solutions</h2>
                </div>
                <div class="col-lg-12">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-4">
                        <div class="col d-flex justify-content-center">
                            <div class="card mx-2 my-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <div class="card mx-2 my-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <div class="card mx-2 my-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <div class="card mx-2 my-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <div class="card mx-2 my-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <div class="card mx-2 my-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section id="Projects">
    <div class="section bg-warning bg-gradient">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">Our Projects</h1>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<section id="Team">
    <div class="section bg-info">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">The Team</h1>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<section id="Clients">
    <div class="section bg-success">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">Our Clients</h1>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<section id="Contact">
    <div class="section bg-primary">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">Contact Us</h1>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
