@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <ul>
            <li data-index='rs-371' data-transition='parallaxtotop' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/src/img/slider/Plumb-01.jpg'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-01.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="carousel-logo"> <img src="~/src/logos/XAU-114x114.webp" class="img-fluid"></div>
            </li>
            <li data-index='rs-371' data-transition='parallaxtobottom' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-02.jpg' data-rotate='0' data-saveperformance='off'
                data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-02.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-371' data-transition='parallaxtoleft' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/src/img/slider/Plumb-03.jpg'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-03.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-371' data-transition='parallaxtoright' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-04.jpg' data-rotate='0' data-saveperformance='off'
                data-title='Parallax to Bottom' data-description=''>
                <img src="~/src/img/slider/Plumb-04.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <li data-index='rs-381' data-transition='3dcurtain-vertical' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/src/img/slider/Plumb-05.jpg' data-rotate='0' data-saveperformance='off'
                data-title='3D Curtain Vertical' data-description=''>
                <img src="~/src/img/slider/Plumb-05.jpg" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
        </ul>
    </div>
</div>
