@page
@model PipeBuild.Pages.ProjectsModel
@{
    ViewData["Title"] = "Our Projects";
}

<section id="projects_one">
    <div class="container-fluid background-bg bg-opacity-50 main-contacts position-relative">
        <div class="bg-greyed-out bg-grey-pos bg-fixed">
            <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
        </div>
        <div class="container"><h1 class="main-header">@ViewData["Title"]</h1></div>
    </div>
</section>

<section id="projects_three">
    <div class="container section-projects">
        <div class="options mt-lg-4 mt-md-2 mt-sm-2 mb-lg-4 mb-md-2 mb-sm-2 ">
            <ul id="project-filter">
                <li><a data-filter="*" >All</a></li>
                <li><a data-filter=".residential">Residentials</a></li>
                <li><a data-filter=".commercial">Commercials</a></li>
                <li><a data-filter=".industrial">Industrial</a></li>
                <li><a data-filter=".mixeduse">Mixed-Use</a></li>
                <li><a data-filter=".hotel">Hotels</a></li>
            </ul>
        </div>
        <div class="row portfolio-grid text-style projects-gallery">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project project-light residential" data-category="residential">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-01.jpg" class="image" title="Project -  Fire Fighting"><img src="~/src/gallery/P-01_1.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Residentials</span>
                        <h3>Project -  Fire Fighting</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 grid-item project industrial" data-category="industrial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-03.jpg" class="image" title="Project - Water Tank"><img src="~/src/gallery/P-03_3.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Industrial</span>
                        <h3>Project - Water Tank</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 grid-item project mixeduse" data-category="mixeduse">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-04.jpg" class="image" title="Project - Roof Plumbing"><img src="~/src/gallery/P-04_4.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Mixed-Use Development</span>
                        <h3>Project - Roof Plumbing</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 grid-item project hotel" data-category="hotel">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-07.jpg" class="image" title="Project - Underground Pipework"><img src="~/src/gallery/P-07_7.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Hotels</span>
                        <h3>
                            Project - Underground Pipework
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project hotel" data-category="hotel">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-02.jpg" class="image" title="Project - Laundry Installation"><img src="~/src/gallery/P-02_2.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Hotels</span>
                        <h3>Project - Laundry Installation</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project mixeduse" data-category="mixeduse">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-06.jpg" class="image" title="Project - Water Tank"><img src="~/src/gallery/P-06_6.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Mixed-Use Development</span>
                        <h3>Project - Water Tank</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project industrial" data-category="industrial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-08.jpg" class="image" title="Project - Chillers"><img src="~/src/gallery/P-08_8.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Industrial</span>
                        <h3>
                            Project - Chillers
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project commercial" data-category="commercial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-09.jpg" class="image" title="Project - Recessed Cisterns"><img src="~/src/gallery/P-09_9.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Commercials</span>
                        <h3>Project - Recessed Cisterns</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project residential" data-category="residential">
                <div class="portfolio-item">
                    <div class="pt-img">
                        <a href="~/src/gallery/P-10.jpg" class="image" title="Project - LPG Installation"><img src="~/src/gallery/P-10_10.jpg" alt=""></a>
                    </div>
                    <div class="item-info">
                        <span>Residentials</span>
                        <h3>Project - LPG Installation</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 grid-item project industrial" data-category="industrial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/src/gallery/P-05.jpg" class="image" title="Project - Roof Pipework"><img src="~/src/gallery/P-05_5.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span>Industrial</span>
                        <h3>Project - Roof Pipework</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more-items">
        <a href="#" title="">Load more</a>
    </div><!--load-more-items end-->

</section>