@page
@model PipeBuild.Pages.ProjectsModel
@{
    ViewData["Title"] = "Our Projects";
}

<div class="container text-center" style="height: 100vh; padding-top: 15rem;">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Our Projects <a href="#"> We are Pipebuild</a>.</p>
</div>

