@page
@model PipeBuild.Pages.ProjectsModel
@{
    ViewData["Title"] = "Our Projects";
}

<section id="projects_one">
    <div class="container-fluid background-bg bg-opacity-50 main-contacts">
        <div class="bg-greyed-out bg-fixed">
            <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
        </div>
        <div class="container"><h1 class="main-header">@ViewData["Title"]</h1></div>
    </div>
</section>

<section id="projects_two">
    <div class="container-fluid bg-primary section-projects">

    </div>
</section>

<section id="projects_three">
    <div class="container-fluid bg-secondary section-projects">

    </div>
</section>

