@page
@model PipeBuild.Pages.ProjectsModel
@{
    ViewData["Title"] = "Our Projects";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">We are Pipebuild</a>.</p>
</div>

