@page
@model PipeBuild.Pages.ProjectsModel
@{
    ViewData["Title"] = "Our Projects";
}

<section id="projects_one">
    <div class="container-fluid background-bg bg-opacity-50 main-contacts position-relative">
        <div class="bg-greyed-out bg-grey-pos bg-fixed">
            <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
        </div>
        <div class="container"><h1 class="main-header">@ViewData["Title"]</h1></div>
    </div>
</section>

<section>
    <div class="button-group-wrap">
        <h3>Filter</h3>
        <div id="filters" class="button-group filter-button-group">
            <button data-filter="*">show all</button>
            <button data-filter=".cms">cms</button>
            <button data-filter=".markup">markup</button>
            <button data-filter=".programming">programming</button>
        </div>
        <br />
        <h3>Sort</h3>
        <div id="sorts" class="button-group sort-by-button-group">
            <button data-sort-by="original-order">original order</button>
            <button data-sort-by="number">number</button>
            <button data-sort-by="name">name</button>
            <button data-sort-by="category">category</button>
        </div>
    </div>
    <div class="box-listing">
        <div class="box-item programming" data-category="programming">
            <h3 class="item-name">Javascript</h3>
            <h3 class="item-id">8</h3>
            <h3 class="item-category">Programming</h3>
        </div>
        <div class="box-item programming" data-category="programming">
            <h3 class="item-name">Python</h3>
            <h3 class="item-id">9</h3>
            <h3 class="item-category">Programming</h3>
        </div>
        <div class="box-item cms" data-category="cms">
            <h3 class="item-name">Sql</h3>
            <h3 class="item-id">6</h3>
            <h3 class="item-category">cms</h3>
        </div>
        <div class="box-item programming" data-category="programming">
            <h3 class="item-name">Java</h3>
            <h3 class="item-id">4</h3>
            <h3 class="item-category">Programming</h3>
        </div>
        <div class="box-item markup" data-category="markup">
            <h3 class="item-name">Wordpress</h3>
            <h3 class="item-id">5</h3>
            <h3 class="item-category">markup</h3>
        </div>
        <div class="box-item cms" data-category="cms">
            <h3 class="item-name">Hubspot</h3>
            <h3 class="item-id">1</h3>
            <h3 class="item-category">cms</h3>
        </div>
        <div class="box-item programming" data-category="programming">
            <h3 class="item-name">Facebook</h3>
            <h3 class="item-id">2</h3>
            <h3 class="item-category">Programming</h3>
        </div>
        <div class="box-item markup" data-category="markup">
            <h3 class="item-name">Visual Studio</h3>
            <h3 class="item-id">7</h3>
            <h3 class="item-category">markup</h3>
        </div>
        <div class="box-item cms" data-category="cms">
            <h3 class="item-name">Eclipse</h3>
            <h3 class="item-id">3</h3>
            <h3 class="item-category">cms</h3>
        </div>
    </div>
</section>