@page
@model PipeBuild.Pages.ServicesModel
@{
    ViewData["Title"] = "Our Services";
}

<section id="contact_one">
    <div class="container-fluid background-bg bg-opacity-50 main-contacts">
        <div class="bg-greyed-out bg-fixed">
            <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
        </div>
        <div class="container"><h1 class="main-header">@ViewData["Title"]</h1></div>
    </div>
</section>