@page
@model PipeBuild.Pages.ServicesModel
@{
    ViewData["Title"] = "Our Services";
}

<div class="container text-center" style="height: 100vh; padding-top: 15rem;">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Our Services <a href="#"> We are Pipebuild</a>.</p>
</div>