@page
@model PipeBuild.Pages.ServicesModel
@{
    ViewData["Title"] = "Our Services";
}

<section id="services_one">
    <div class="container-fluid background-bg bg-opacity-50 main-contacts">
        <div class="bg-greyed-out bg-fixed">
            <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
        </div>
        <div class="container"><h1 class="main-header">@ViewData["Title"]</h1></div>
    </div>
</section>

<section id="services_two">
    <div class="container-fluid section-services bg-secondary">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <h1 class="display-4 text-center my-4">Services Offered</h1>
                <div class="col-lg-12 text-center">
                    <h2 class="paragraph-title">We are designers and installers of Mechanical systems</h2>
                    <p class="paragraph-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                </div>
            </div>
            <div class="row d-flex flex-wrap mt-5">
                <div class="col-md-6 animated" data-animation="fadeInLeft" data-animation-delay="100">
                    <img src="~/src/img/placeholders/img-550x350-6.jpg" alt="img-placeholder" class="img-responsive">
                </div>
                <div class="col-md-6 animated" data-animation="fadeIn" data-animation-delay="100">
                    <h3 class="paragraph-title pt-sm-2">
                        Plumbing &amp; Drainage Systems
                    </h3>
                    <p class="mt-2 paragraph-text">
                        We design, install, test and commission plumbing and drainage systems. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                    <p>
                        <i class="fa fa-wordpress fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-joomla fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-drupal fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-shopping-basket fa-2x color-gray2 mr10"></i>
                    </p>
                    <p>
                        <a class="button-o button-sm button-white hover-fade">Start Project</a>
                    </p>
                </div>
            </div>
            <div class="row d-flex flex-wrap mt-5">
                <div class="col-md-6 order-md-last animated" data-animation="fadeInLeft" data-animation-delay="100">
                    <img src="~/src/img/placeholders/img-550x350-7.jpg" alt="img-placeholder" class="img-responsive">
                </div>
                <div class="col-md-6 animated" data-animation="fadeIn" data-animation-delay="100">
                    <h3 class="paragraph-title pt-sm-2">
                        Fire-Fighting Systems
                    </h3>
                    <p class="mt-2 paragraph-text">
                        We design, install, test and commission plumbing and drainage systems. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                    <p>
                        <i class="fa fa-wordpress fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-joomla fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-drupal fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-shopping-basket fa-2x color-gray2 mr10"></i>
                    </p>
                    <p>
                        <a class="button-o button-sm button-white hover-fade">Start Project</a>
                    </p>
                </div>
            </div>
            <div class="row d-flex flex-wrap mt-5">
                <div class="col-md-6 animated" data-animation="fadeInLeft" data-animation-delay="100">
                    <img src="~/src/img/placeholders/img-550x350-8.jpg" alt="img-placeholder" class="img-responsive">
                </div>
                <div class="col-md-6 animated" data-animation="fadeIn" data-animation-delay="100">
                    <h3 class="paragraph-title pt-sm-2">
                        Liquefied Petroleum Gas (LPG) Systems
                    </h3>
                    <p class="mt-2 paragraph-text">
                        We design, install, test and commission plumbing and drainage systems. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                    <p>
                        <i class="fa fa-wordpress fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-joomla fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-drupal fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-shopping-basket fa-2x color-gray2 mr10"></i>
                    </p>
                    <p>
                        <a class="button-o button-sm button-white hover-fade">Start Project</a>
                    </p>
                </div>
            </div>
            <div class="row d-flex flex-wrap mt-5 pb-5">
                <div class="col-md-6 order-md-last animated" data-animation="fadeInLeft" data-animation-delay="100">
                    <img src="~/src/img//placeholders/new-img-550x350-6.jpg" alt="img-placeholder" class="img-responsive">
                </div>
                <div class="col-md-6 animated" data-animation="fadeIn" data-animation-delay="100">
                    <h3 class="paragraph-title pt-sm-2">
                        Water Treatment Systems
                    </h3>
                    <p class="mt-2 paragraph-text">
                        We design, install, test and commission plumbing and drainage systems. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                        quibusdam eius quaerat neque voluptatibus qui tempora vero atque amet similique quod
                        fugiat earum temporibus aut? Officiis a ratione eaque inventore.
                    </p>
                    <p>
                        <i class="fa fa-wordpress fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-joomla fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-drupal fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-shopping-basket fa-2x color-gray2 mr10"></i>
                    </p>
                    <p>
                        <a class="button-o button-sm button-white hover-fade">Start Project</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>